<div class="branding-container">
    <div class="tadlogo">
        <a class="tadlogo" href="#" title="Tobar an Dualchais Repository"><%= image_tag "/assets/uoe/waves.png" %>
        <%= image_tag "/assets/uoe/Tobar-Kist-strapline.png", :alt => "Tobar an Dualchais" %>
        <%= image_tag "/assets/uoe/waves.png" %>
        </a>
    </div>
</div>
