<div class="branding-container">
    <div class="tadlogo">
        <%= link_to root_path do %>
		<%= image_tag "/assets/tad/waves.png" %>
        	<%= image_tag "/assets/tad/Tobar-Kist-strapline.png", :alt => "Tobar an Dualchais" %>
        	<%= image_tag "/assets/tad/waves.png" %>
        <% end %>
    </div>
</div>
